<h1><%= @mensaje%></h1>
<iframe src="./views/VentanaJuego"></iframe>
<button type="submit" value="Avanzar">Avanzar</button>
<button type="submit" value="Disparar">Lanzar flecha</button>
<button type="submit" value="Arriba">Up</button>
<button type="submit" value="Abajo">Down</button>
<button type="submit" value="Izquierda">Left</button>
<button type="submit" value="Derecha">Right</button>